
@{
    ViewBag.Title = "Curso";
}



@{
    ViewBag.Title = "Gestionar cursos";
}
<div class="container" style="margin:5em;">
    <div class="main-body">
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-12 mb-3">

                <div class="card mb-3">
                    <div class="card-header">
                        <button class="btn btn-primary">Añadir Curso</button>

                        <button class="btn btn-outline-primary">Listado curso</button>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-column align-items-left text-left" id="divCursos">
                            <div class="mt-3 align-items-right text-right" style="text-align:right;">
                                <button class="btn btn-outline-primary">Editar</button>
                            </div>

                            <div class="mt-3">
                                <h4>Cursos.</h4>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">
                                            <img src="~/Content/assets/img/Formador/defaultImg.png" alt="Admin" width="100">
                                        </h6>
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        Nombre curso.
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        Nombre formador.
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        Horas.
                                    </div>
                                    <div class="col-sm-2 text-secondary">
                                        Fecha Inicio-Fecha Final.
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <!-- Parte Formulario añadir curso. -->
                        <form id="crearCursoForm" style="display:block;">
                            <div class="row g-2">
                                <div class="col-md">
                                    <!-- Input para curso_nombre -->
                                    <div class="form-floating mb-2">
                                        <input class="form-control" id="curso_nombre" type="text" placeholder="Introduzca el nombre del curso" name="curso_nombre" data-sb-validations="required" />
                                        <label for="curso_nombre">Nombre del curso</label>
                                        <div class="invalid-feedback" data-sb-feedback="curso_nombre:required">Un nombre es obligatorio.</div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!-- Input para num_plaza -->
                                    <div class="form-floating mb-2">
                                        <input class="form-control" id="num_plaza" type="number" name="num_plaza" placeholder="Numero de plazas" data-sb-validations="required" />
                                        <label for="num_plaza">Numero de plazas</label>
                                        <div class="invalid-feedback" data-sb-feedback="num_plaza:required">Numerode plaza es obligatorio.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <!-- Input para horas_totales -->
                                    <div class="form-floating mb-2">
                                        <input class="form-control" id="horas_totales" type="number" name="horas_totales" placeholder="Horas totales" data-sb-validations="required" />
                                        <label for="horas_totales">Horas totales</label>
                                        <div class="invalid-feedback" data-sb-feedback="horas_totales:required">Horas totales es obligatorio.</div>
                                    </div>
                                </div>

                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <!-- Input para fecha_inicio -->
                                    <div class="form-floating mb-2">
                                        <input class="form-control" id="fecha_inicio" type="date" name="fecha_inicio" placeholder="Introduzca la fecha de inicio" data-sb-validations="required" />
                                        <label for="fecha_inicio">Introduzca la fecha de inicio</label>
                                        <div class="invalid-feedback" data-sb-feedback="fecha_inicio:required">Fecha de inicio es obligatoria.</div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!-- Input para fecha_final -->
                                    <div class="form-floating mb-2">
                                        <input class="form-control" id="fecha_final" type="date" name="fecha_final" placeholder="Introduzca la fecha de final" data-sb-validations="required" />
                                        <label for="fecha_final">Introduzca la fecha de inicio</label>
                                        <div class="invalid-feedback" data-sb-feedback="fecha_final:required">Fecha final es obligatoria.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md">
                                    <!-- Input para Centro -->
                                    <div class="form-floating mb-2">
                                        <select class="form-select" id="centro" name="centro">
                                            <option selected>Este</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="centro">Centro</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!-- Input para Horario -->
                                    <div class="form-floating mb-2">
                                        <select class="form-select" id="horario" name="horario">
                                            <option selected>Mañana</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="horario">Horario</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!-- Input para modalidad -->
                                    <div class="form-floating mb-2">
                                        <select class="form-select" id="modalidad" name="modalidad">
                                            <option selected>Teletrabajo</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <label for="modalidad">Modalidad</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Input para curso_descripcion -->
                            <div class="form-group mb-2" style="font-size: 1.5rem; color: #6c757d;">
                                <label for="curso_descripcion">Descripcion</label>
                                <textarea class="form-control" id="curso_descripcion" rows="8" name="curso_descripcion"></textarea>
                            </div>
                            <!-- Submit error message-->a
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-2">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl disabled" id="RegisterButton" type="submit">Crear Curso</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>