
@{
    ViewBag.Title = "AlumnoMisCursos";
}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0"> Alumno Mis Cursos</h1>
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>  <!-- Icon Divider-->
        <div class="divider-custom divider-light">

    </div>
</header>
<!-- main Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Form-->
        <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">
                <div id="botones">
                    <button type="button">Cursos</button>
                    <button type="button">Guardados</button>
                </div>
                <div class="fotos">
                    <img src="~/Content/assets/img/avataaars.svg" alt="foto perfil">
                    <div>
                        <pre class="texto-curso">
                            Nombre Curso
                            Nombre Empresa
                            Ubicacion
                            Horas
                            Fecha inicio-Fecha final
                            Estado inscripcion
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">
                <div class="fotos">
                    <img src="~/Content/assets/img/avataaars.svg" alt="foto perfil">
                    <div>
                        <pre class="texto-curso">
                            Nombre Curso
                            Nombre Empresa
                            Ubicacion
                            Horas
                            Fecha inicio-Fecha final
                            Estado inscripcion
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">
                <div class="fotos">
                    <img src="~/Content/assets/img/avataaars.svg" alt="foto perfil">
                    <div>
                        <pre class="texto-curso">
                            Nombre Curso
                            Nombre Empresa
                            Ubicacion
                            Horas
                            Fecha inicio-Fecha final
                            Estado inscripcion
                        </pre>
                    </div>
                </div>
            </div>
        </div>
                <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">
                <div class="fotos">
                    <img src="~/Content/assets/img/avataaars.svg" alt="foto perfil">
                    <div>
                        <pre class="texto-curso">
                            Nombre Curso
                            Nombre Empresa
                            Ubicacion
                            Horas
                            Fecha inicio-Fecha final
                            Estado inscripcion
                        </pre>
                    </div>
                    <div>
                </div>
        </div>
    </div>
</section>


