
@{
    ViewBag.Title = "AlumnoMisCursos";
}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0"> Alumno Mis Cursos</h1>
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>  <!-- Icon Divider-->
    <div class="divider-custom divider-light">

    </div>
</header>
<!-- main Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Form-->
        <div class="row">
            <div class="div-profile-left1">
                <div class="col-lg-4">
                    <h4>Datos Personales</h4>
                    <h4>Nombre alumno</h4>
                    <h4>Fecha nacimiento</h4>
                    <h4>Dirección</h4>
                    <h4>Email</h4>
                    <h4>Telefono</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="div-profile-left2">
                    <h4>Idiomas</h4>
                    <h4>idioma 1-nivel</h4>
                    <h4>idioma 2-nivel</h4>
                </div>
                <div class="col-lg-4">
                    <div class="div-profile-left3">
                        <h4>Descripcion</h4>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h4>
                    </div>
                </div>
            <div class="div-profile-right">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-3">
                   
                </div>
            </div>
       </div>
    </div>
</section>


