
@{
    ViewBag.Title = "AlumnoMisCursos";
}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/assets/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0"> Alumno Mis Cursos</h1>
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>  <!-- Icon Divider-->
    <div class="divider-custom divider-light">

    </div>
</header>
<!-- main Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Form-->
        <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">          
                
            </div>
        </div>

        <div class="row justify-content-left">
            <div class="col-lg-4 col-xl-7">                  
                    <div id="buscador-centrado">
                        <form action="../../" method="post" target="_blank">
                            <h1 id="texto-buscador">
                                Encuentra tus alumnos que según tengan las mismas caracteristicas para trabajar en tu empresa.
                            </h1>
                            <p>

                                Búsqueda de alumnos: <input type="search" name="busquedamusica" placeholder="Buscador de alumnos">
                                <input type="submit" value="Buscar">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


